.header,.container,.footer{
    /* border: solid; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.header h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: red;
}
.container{
    text-align: center;
}
.container img{
    /* width: 100%; */
}
.footer p{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 50px;
}

.footer .p1{
    color: red;
}