<html>
    <head>
        <title>BasicWebApp</title>
    </head>
    <body style="background-color:black;color:white;">
        <h1>Hello @ViewBag.GuestName</h1>
        <b>Current Time: </b>@DateTime.Now
    </body>
</html>
